body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
	font-family: sans-serif;
	/*background-color: #876Ed7;*/
    background: url("../images/bg3.png") repeat left top #D8D4CC;
}

.sidebar {
    position: fixed;
    background-color : #282827;
/*    background-color: #00A0C6; */
    z-index: 100;
    width: 180px;
    height: 100%;
    padding: 0px 0px 0px 30px;
    text-align: right;
    left : 0;
    top : 0;
    color : white;
}

#logo-text {
    margin-top : 25px;
    margin-bottom : 15px;
    height : 40px;
    text-align : left;
    font-size : 20px;
}

.dashed-wrapper {
    margin-right : 30px;
    display : block;
    border-top : 1px dashed #DCD8CF;
    text-align : left;
}

#boardSelect {
    margin-bottom : 15px;
    text-align : left;
}

#recentBoards{
}

#header {
	text-align: center;
}

#content {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

#boards {
	float: left;
	clear: both;
	margin-left: 10px;
}

.thread {
	position: relative;
	border: solid #D5D3D1;
	width: 66%;
	margin-right: auto;
	margin-left: auto;
	background-color: #F4F2E7;
	padding-left: 15px;
	padding-right: 15px;
}

.post {
	background-color: #50514B;
	margin-top: 10px;
	margin-bottom: 30px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.reply {
	margin-bottom: 10px;
    display : block;
    border-top : 1px dashed #DCD8CF;
    text-align : left;

}

.remove {
	position: absolute;
	bottom: 5px;
	right: 5px;
	margin-top: 20px;
	font-size: small;
}

/* To do: need to remove blank line*/
.quotelink {
	display: none;
}

.small-padding-top {
    padding-top : 15px;
    padding-bottom : 15px;
}

.subject {
	font-weight: bold;
}

.postNumber {
	float: right;
	clear: both;
}

