body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
	font-family: sans-serif;
	/*background-color: #876Ed7;*/
/*    background: url("../images/bg3.png") repeat left top #D8D4CC; */
/*    background-image : url("../images/hexabump.png"); */
    background-image : url("../images/norwegian_rose.png");
}

.sidebar {
    position: fixed;
    background-color : #282827;
    z-index: 100;
    width: 180px;
    height: 100%;
    padding: 0px 0px 0px 30px;
    text-align: right;
    left : 0;
    top : 0;
    color : white;
}

.recentThread:hover, .sidebar-board:hover {
	color: grey;
	text-shadow: 0.05em 0.05em 0.05em white;
}

#logo-text {
    margin-top : 25px;
    margin-bottom : 15px;
    height : 40px;
    text-align : left;
    font-size : 20px;
}

.dashed-wrapper {
    margin-right : 30px;
    display : block;
    border-top : 1px dashed #DCD8CF;
    text-align : left;
    margin-bottom: 10px;
}

#boardSelect {
    margin-bottom : 15px;
    text-align : left;
}


#header {
	text-align: center;
	font-size: xx-large;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

#content {
	position: relative;
	left: 180px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	white-space: pre-wrap;
	
}

.thread {
	clear:both;
	position: relative;
	padding-top: 20px;
	width: 66%;
	margin-right: auto;
	margin-left: auto;
	background-color: #D2D2D3;
	padding-left: 15px;
	padding-right: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.sidebar-board {
    margin-top : 3px;
    margin-bottom : 3px;
}

.thread>.post {
	border: solid #383127;
    border-width : 1px;
}


.post {
	margin-top: 10px;
	margin-bottom: 30px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.reply {
	margin-bottom: 10px;
    display : block;
    border-top : 1px dashed #282827;
    text-align : left;

}


#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(../images/overlay.png) repeat;
    text-align:center;
}

#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
}


.remove {
	clear: both;
	position: absolute;
	top: 5px;
	right: 10px;
	margin-bottom: 20px;
	font-size: small;
}

.remove:hover {
	color: grey;
	text-shadow: 0.05em 0.05em 0.05em black;
}

/* To do: need to remove blank line*/
.quotelink {
	display: none;
}

.small-padding-top {
    padding-top : 15px;
    padding-bottom : 15px;
}

.subject {
	font-weight: bold;
}



.postNumber {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

.username {
	margin-left: 10px;
	margin-top: 10px;
}

img {
	margin-left: 10px;
	margin-top: 10px;
}

.comment {
	margin-left: 10px;
	margin-top: 10px;
}

#warning {
	text-align: center;
	white-space: pre-wrap;
}

